@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,700);

body {
    background: linear-gradient(-45deg, rgb(25, 51, 82),rgb(105, 149, 218));
	font-family: roboto, sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: #222;
	padding: 10px 0;
	border-bottom: 1px solid rgba(79,95,158,0.6);
	box-shadow: 0 0 20px #4f5f9e;
}

header h1 {
	font-weight: 300;
	margin: 0;
}

footer {
	text-align: center;
}

footer p {
	display: inline-block;
	color: rgba(255,255,255,0.5);
	font-weight: 100;
}

footer:after {
	content: '';
	clear: both;
	display: table;
}

footer img {
	height: 24px;
	margin: 0 4px;
	vertical-align: middle;
}

.prompt {
    color: #fff;
    display: flex;
    flex: 0.3;
}

.prompt div {
    align-self: flex-end;
}

.prompt h2, .prompt p {
    font-weight: 100;
}

.prompt h2 {
    font-size: 36px;
    margin-bottom: 0;
}

.prompt p {
    font-size: 18px;
}

#search-form {
    width: 100%;
	margin-top: 20px;
}

#search-form form {
    padding: 0 20px;
}

.result {
	display: flex;
	flex: 1;
	align-items: center;
}

input {
	background: rgba(255,255,255,0.8);
	color: #4f5f9e;
	font-weight: 100;
	width: 100%;
	max-width: 400px;
}

::-webkit-input-placeholder {
	padding-top: 4px;
	color: rgba(79,95,158,0.2);
	font-weight: 100;
	text-transform: uppercase;
}

input, button {
	display: inline-block;
	box-sizing: border-box;
	font: 300 30px/30px roboto, sans-serif;
	height: 48px;
	padding: 8px;
	border: none;
	border-radius: 2px;
}

input:active, input:focus {
	outline:none;
}

button {
	max-width: 16%;
	background-color: #4f5f9e;
	color: #fff;
	cursor: default;
	cursor: pointer;
}

.weather {
	color: #fff;
}

.weather .location {
	font-weight: 100;
	font-size: 36px;
	color: #fff;
}

.weather .conditions {
	display: inline-block;
	height: 250px;
	width: 250px;
	margin: 20px 0;
	background-color: rgba(255,255,255,0.2);
	border-radius: 150px;
	padding: 20px;	
}

.conditions .temp {
	font-size: 100px;
	font-weight: 100;
	padding-left: 19px;
}

.conditions .temp small {
    font-size: 50%;
    vertical-align: top;
}

.conditions .summary {
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 10px;
}

.conditions .highlow {
	display: inline-block;
	padding: 2px 16px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-weight: 300;
}

.pull-right {
	float: right;
}

.icon {
    padding-top: 20px;
    font-size: 30px;
}

.login {
    width: 480px;
    max-width: 100%;
}

.login input {
    display:block;
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
    font-size: 24px;
}

.login button {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: 0.5s;
    font-size: 24px;
}

.login button:hover {
    background-color: #fff;
    color:#4f5f9e;
}

.result .weather .location button {
    display:inline-block;
    background-color: transparent;
}

.favorites {
    color: #fff;
    font-weight: 100;
    width: 100%;
    max-width: 400px;
}

.favorites h2, .login h2 {
    text-transform: uppercase;
    color: rgba(255,255,255,0.4);
    font-size: 24px;
    font-weight: 100;
    margin: 30px 0 8px 0;
}

.favorites ul li a {
    color: #fff;
    font-weight: 100;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.favorites ul {
    list-style: none;
    box-sizing: border-box;
    padding-left: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 4px;
}

.favorites ul li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: left;
}

.favorites ul li:last-child {
    border-bottom: none;
}

.flash {
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.flash.failure {
    background: #e25656;
}

.flash.success {
    background: #4cc38c;
}

.flash.info {
    background: #eca73f;
}

.nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

.nav ul li {
    display: inline-block;
    margin: 10px;
}

.nav ul li a, .nav ul li button {
    padding: 10px;
    color: rgba(255,255,255,0.8);
    font-weight: 100;
    text-transform: lowercase;
    font-size: 16px;
    height: initial;
    max-width: initial;
    text-decoration:none;
    background:transparent;
    cursor:default;
    cursor:pointer;
}

.error {
    background-color: #f1f2f2;
    padding: 10px;
    border-radius: 4px;
}